@media (max-width: 768px) {

    body {
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        min-height: 100vh;
        color: white;
        overflow-x: hidden;
    }

    /* Основная часть страницы */
    .site-main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .mode-buttons {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 0.5vh;
    }

    .mode-buttons button {
        font-family: 'Comfortaa', sans-serif;
        font-size: 1.1rem;
        background-color: #2d2d2d33;
        border: 3px solid white;
        color: #ffffff;
        border-radius: 10px;
        text-shadow: 8px 8px 16px rgba(0, 0, 0, 1);
        transition: transform 0.3s ease;
        cursor: pointer;
        padding: 8px 12px;
    }

    #timer {
        font-family: 'Comfortaa', sans-serif;
        font-size: 10rem;
        font-weight: bold;
        text-shadow: 2px 2px 6px rgba(0, 0, 0, 0.8);
        margin: 0;
    }

    .button-container {
        display: flex;
        flex-direction: column; /* Элементы будут располагаться в колонку */
        gap: 2vh; /* Расстояние между элементами */
        align-items: center; /* Центрирование элементов по горизонтали */
    }

    .start-pause-buttons {
        margin-top: 20vh;
        margin-bottom: 1vh;
    }

    .player-wrapper {
        display: flex;
        justify-content: center; /* Выравнивание вправо */
        align-items: center; /* Вертикальное центрирование */
        margin: 0 auto;
        margin-top: 2vh;
    }
    
    
    
}